body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    background: #a8bf53;
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.wrapper, nav {
  width: 1100px;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 30px;
  font-weight: bold;
  float: left;
  font-family: 'Press Start 2P', monospace;
  color: #F9F6F3;
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  top: 0;
  background: #A7B65D; 
  z-index: 99;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: #FFF2EF;
  font-weight: bold;
  text-align: center;
  padding: 0 16px;
    padding: 8px 24px;
  border-radius: 0; 
  font-size: 20px;
    cursor: pointer;
  font-family: 'Press Start 2P', monospace;
    box-shadow: none; 
  outline: none;
  transition: background 0.2s, color 0.2s;
}

nav ul li a:hover {
  text-decoration: underline;
}

.btn-play {
  background-color: #83B268;
  padding: 10px 20px;
  border-radius: 25px;
  color: white !important;
  font-weight: bold;
  transition: 0.3s;
}

.btn-play:hover {
  background-color: #6fa155;
  transform: scale(1.05);
}


.hero {
    height: 350px;
    background-image: url("../img/bg1.gif");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

.hero-title {
    font-size: 42px;
    margin: 0;
}

.hero-sub {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.85;
}

.main {
    padding: 50px 0;
}

.main-title {
    font-size: 16px;
    margin-bottom: 40px;
}

.white-box {
    width: 70%;
    height: 260px;
    background: white;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.tiny-note {
    margin-top: 25px;
    font-size: 10px;
    opacity: 0.6;
}

.footer {
    margin-top: 60px;
    padding: 40px 0;
    background-color: #8ca443;
    color: black;
}

.contact-title {
    font-size: 14px;
    margin-bottom: 20px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 20px;
}

.icons i {
    font-size: 22px;
    cursor: pointer;
}

.footer-small {
    font-size: 10px;
    opacity: 0.75;
}

.copy {
    margin-top: 20px;
    font-size: 10px;
    opacity: 0.5;
}

