* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.wrapper, nav {
  width: 1100px;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 50px;
  font-weight: bold;
  float: left;
  font-family: 'Press Start 2P', monospace;
  color: #F9F6F3;
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  top: 0;
  background: #A7B65D;
  z-index: 99;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: #FFF2EF;
  font-weight: bold;
  text-align: center;
  padding: 8px 24px;
  border-radius: 0;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Press Start 2P', monospace;
  box-shadow: none;
  outline: none;
  transition: background 0.2s, color 0.2s;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Active Navigation */
nav ul li a.active {
  text-decoration: underline;
}

/* PLAY Button */
.btn-play {
  background-color: #83B268;
  padding: 10px 20px;
  border-radius: 25px;
  color: white !important;
  font-weight: bold;
  transition: 0.3s;
}

.btn-play:hover {
  background-color: #6fa155;
  transform: scale(1.05);
}

body {
  font-family: 'Bradley Hand', cursive;
  background-color: #A9BA54;
  background-size: 30px 30px;
  background-repeat: repeat;
  margin: 0;
  padding: 0;
}

/* =======================
   TUTORIAL SECTION
======================== */

.tutorial-section {
  position: relative;
  width: 100%;
  height: 650px;
  background-image: url("img/tutorial-bg.png"); /* ganti sesuai file */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.tutorial-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #A9BA54 100%);
}

.tutorial-title {
  font-family: 'Press Start 2P', monospace;
  font-size: 60px;
  z-index: 2;
  margin: 0;
}

.tutorial-sub {
  font-family: 'Press Start 2P', monospace;
  font-size: 20px;
  margin-top: 10px;
  z-index: 2;
}

.hero {
  position: relative;
  width: 100%;
  height: 650px;
  background-image: url("img/bghome.gif");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #A9BA54 100%);
}

.hero h1 {
  font-family: 'Press Start 2P', monospace;
  font-size: 60px;
  z-index: 5;
  letter-spacing: 3px;
}

.hero p {
  font-family: 'Press Start 2P', monospace;
  font-size: 20px;
  margin-top: 15px;
  z-index: 5;
}
